@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var page = ViewData["Page"];
}
<aside class="col-lg-3 border-end">
    <nav class="nav nav-pills flex-lg-column mb-4">
        <a class="nav-link @(page == "Account" ? "active" : "")" href="/Account">Account</a>
        <a class="nav-link @(page == "Plan Settings" ? "active" : "")" href="@(page == "Plan Settings" ? "" : "/user/CurrentMealKitPlan")">Plan Settings</a>
        <a class="nav-link @(page == "Past Invoices" ? "active" : "")" href="@(page == "Past Invoices" ? "" : "/user/PastInvoices")">Past Invoices</a>
        <a class="nav-link @(page == "Security" ? "active" : "")" href="@(page == "Security" ? "" : "/Account/Security")">Security Settings</a>
        <a class="nav-link @(page == "Mail" ? "active" : "")" href="@(page == "Mail" ? "" : "/MailSubscriptions")">Mail Subscription plan</a>

    </nav>
</aside>