@page
@using Microsoft.AspNetCore.Identity;
@using Spoonful.Models;
@model Spoonful.Pages.Admin.UserManagement.RolesModel
@inject UserManager<CustomerUser> UserManager
@{
}
<div class="card p-3">
    <div id="rolestoolbar">
        <div class="dropdown">
            <a class="blue-btn-a" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Add Admin Role
            </a>

            <div class="dropdown-menu">
                <form class="px-4 py-3" method="post">
                    <div class="mb-3">
                        <label for="name" class="form-label">Role Name</label>
                        <input type="text" class="form-control" id="name" asp-for="RoleName" placeholder="Role Name">
                    </div>
                    <button type="submit" class="btn btn-primary">Create Role</button>
                </form>
            </div>
        </div>

        @*<button id="remove" class="btn btn-danger" asp-page="AdminRoles">Delete Admin Roles</button>*@
    </div>
    <h2 class="card-title">Roles</h2>
    <table id="rolestable"
           data-toggle="table"
           data-search="true"
           data-click-to-select="true"
           data-pagination="true"
           data-id-field="id"
           data-page-list="[10, 25, 50, 100, all]"
           data-sortable="true"
           data-toolbar="#rolestoolbar"
           data-toolbar-align="left">
        <thead>
            <tr>
                <th data-field="state" data-checkbox="true"></th>
                <th data-field="name" data-sortable="true">Name</th>
                <th data-field="members" data-sortable="true">Members</th>
                <th data-field="buttons"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Roles)
            {
                <tr>
                    <td></td>
                    <td>@item.Name</td>
                    <td>
                        <ul>
                            @foreach (var user in await UserManager.GetUsersInRoleAsync(item.Name))
                            {
                                <li>@user.FirstName @user.LastName - @user.UserName</li>
                            }
                        </ul>
                    </td>
                    <td>
                        <form method="post">
                        @if (!(new List<string> { "Admin", "Customer", "Driver" }.Contains(item.Name)))
                        {
                            <button class="danger-btn" asp-page-handler="Delete" asp-route-name="@item.Name">Delete</button>

                        }
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

@section Scripts {
    <script defer>
        $(document).ready(function () {
            function getIdSelections() {
                return $.map($("#rolestable").bootstrapTable('getSelections'), function (row) {
                    return row.name
                })
            }
            $("#rolestable").on('check.bs.table uncheck.bs.table ' +
                'check-all.bs.table uncheck-all.bs.table',
                function () {
                    $('#remove').prop('disabled', !$("#rolestable").bootstrapTable('getSelections').length)

                    // save your data, here just save the current page
                    selections = getIdSelections()
                    console.log(selections)
                    // push or splice the selections if you want to save all data selections
                })
            $('#remove').prop('disabled', true)
        })

    </script>
}