@page
@model Spoonful.Pages.user.MealKitSubscription.OrderConfirmedModel
@{
}
@using Microsoft.AspNetCore.Identity
@using Spoonful.Models
@using Spoonful.Services;
@inject UserManager<CustomerUser> UserManager
@inject MealKitService _mealKitService;
@inject OrderService _orderService;

@{
    var user = await UserManager.GetUserAsync(User);
	MealKit? mealkit = _mealKitService.GetMealKitByUserId(user.Id);
	OrderDetails? orderDetails = _orderService.GetOrderDetailsByUserId(user.Id);
}
<!-- SPECIFIC CSS -->
<link href="~/css/order-confirm.css" rel="stylesheet">
<main class="bg_gray">
		
		<div class="container margin_60_40">
		    <div class="row justify-content-center">
		        <div class="col-lg-4">
		        	<div class="box_order_form">
		                <div class="head text-center">
		                    <h3>Spoonful</h3>
		                    @orderDetails.Address - <a href="" target="blank">Get directions</a>
		                </div>
		                <!-- /head -->
		                <div class="main">
		                	<div id="confirm">
								<div class="icon icon--order-success svg add_bottom_15 align-items-center">
									<svg xmlns="http://www.w3.org/2000/svg" width="72" height="72" style="display:block; margin:auto; margin-bottom:40px;">
										<g fill="none" stroke="#8EC343" stroke-width="2">
											<circle cx="36" cy="36" r="35" style="stroke-dasharray:240px, 240px; stroke-dashoffset: 480px;"></circle>
											<path d="M17.417,37.778l9.93,9.909l25.444-25.393" style="stroke-dasharray:50px, 50px; stroke-dashoffset: 0px;"></path>
										</g>
									</svg>
								</div>
								<h3>Order Confirmed!</h3>
								<p>Your First Delivery is Scheduled for @orderDetails.OrderDate at @orderDetails.OrderTime.</p>
								<p>@mealkit.MenuPreference Plan for @mealkit.noOfPeoplePerWeek</p>
								<p>@mealkit.noOfServingsPerPerson Servings per Person</p>

								<br />
								<br />
								<a href="" class="btn btn-success">See My Orders</a>
							</div>
		                </div>
		            </div>
		            <!-- /box_booking -->
		        </div>
		        <!-- /col -->
		    </div>
		    <!-- /row -->
		</div>
		<!-- /container -->
		
	</main>
	<!-- /main -->