@page 
@model Spoonful.Pages.Account.IndexModel
@{
    ViewData["Title"] = Model.UserName;
    ViewData["Page"] = "Account";
}
<section class="content-main">
    <div class="content-header">
        <h2 class="content-title">Account setting</h2>
        <br />
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row gx-5">
                @await Html.PartialAsync("_AccountNavBar")
                <div class="col-lg-9">
                    <section class="content-body p-xl-4">
                        <h1 class="tw-text-lg tw-mb-5">&#64;@Model.UserName</h1>
                        <form method="post" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="row gx-3">
                                        <div class="col-6 mb-3">
                                            <label class="form-label">First name</label>
                                            <input class="form-control" type="text" placeholder="Type here" asp-for="@Model.FirstName" />
                                        </div>
                                        <!-- col .// -->
                                        <div class="col-6 mb-3">
                                            <label class="form-label">Last name</label>
                                            <input class="form-control" type="text" placeholder="Type here" asp-for="@Model.LastName" />
                                        </div>
                                        <!-- col .// -->
                                        <div class="col-lg-6 mb-3">
                                            <label class="form-label">Email</label>
                                            <input class="form-control" type="email" placeholder="example@mail.com" asp-for="@Model.Email" disabled/>
                                            <a asp-page="./ChangeEmail" class="blue-btn-a m-0 mt-2 d-block w-100">Change Email</a>
                                        </div>
                                        <!-- col .// -->
                                        <div class="col-lg-6 mb-3">
                                            <label class="form-label">Phone</label>
                                            <input class="form-control" type="tel" placeholder="+1234567890" asp-for="@Model.Phone" disabled/>
                                            <a asp-page="./ChangePhone" class="blue-btn-a m-0 mt-2 d-block w-100">Change Phone Number</a>
                                        </div>
                                        <!-- col .// -->
                                        <div class="col-lg-12 mb-3">
                                            <label class="form-label">Address</label>
                                            <input class="form-control" type="text" placeholder="Type here" />
                                        </div>
                                        <!-- col .// -->
                                        <div class="col-lg-6 mb-3">
                                            <label class="form-label">Birthday</label>
                                            <input class="form-control" type="date" asp-for="@Model.DOB" />
                                        </div>
                                        <!-- col .// -->
                                    </div>
                                    <!-- row.// -->
                                </div>
                                <!-- col.// -->
                                <aside class="col-lg-4">
                                    <figure class="text-lg-center">
                                        <img id="imgPreview" class="img-lg mb-3 img-avatar" src="@Model.ImageURL" alt="User Photo" />
                                        <figcaption>
                                            <input type="file" accept="image/*" asp-for="@Model.Upload" onchange="showImgPreview(this)" hidden>
                                            <label asp-for="@Model.Upload" class="blue-btn">Upload</label>
                                        </figcaption>
                                    </figure>
                                </aside>
                                <!-- col.// -->
                            </div>
                            <!-- row.// -->
                            <br />
                            <button class="green-btn-full-confirmed" type="submit">Save changes</button>
                        </form>
                        <hr class="my-5" />
                        <div class="row" style="max-width: 920px">
                            <div class="col-md">
                                <article class="box mb-3 bg-light">
                                    <a class="btn float-end btn-light btn-sm rounded font-md" asp-page="ChangePassword">Change</a>
                                    <h6>Password</h6>
                                    <small class="text-muted d-block" style="width: 70%">You can reset or change your password by clicking here</small>
                                </article>
                            </div>
                            <!-- col.// -->
                            <div class="col-md">
                                <article class="box mb-3 bg-light">
                                    <a class="btn float-end btn-light rounded btn-sm font-md" href="#">Deactivate</a>
                                    <h6>Remove account</h6>
                                    <small class="text-muted d-block" style="width: 70%">Once you delete your account, there is no going back.</small>
                                </article>
                            </div>
                            <!-- col.// -->
                        </div>
                        <!-- row.// -->
                    </section>
                    <!-- content-body .// -->
                </div>
                <!-- col.// -->
            </div>
            <!-- row.// -->
        </div>
        <!-- card body end// -->
    </div>
    <!-- card end// -->
</section>

@section scripts {
    <script src="~/js/imgPreview.js"></script>
}