@page
@model Spoonful.Pages.Ezell.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Feedbackform</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Feedbackform.Feedbackstatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Feedbackform.Feedbackstatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Feedbackform.TitleFeedback)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Feedbackform.TitleFeedback)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Feedbackform.MainFeedback)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Feedbackform.MainFeedback)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Feedbackform.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
