@page
@model Spoonful.Pages.Aaron.EditModel
@{
    ViewData["Title"] = "Edit";
}


<h1 class="display-4">@ViewData["Title"]</h1>
<div>
    <form method="post">

            <div class="row mb-3">
                <div class="col-sm-10">
                <input type="hidden" class="form-control" asp-for="DiaryEntry.Id" value="@Model.DiaryEntry.Id" />
                <span asp-validation-for="DiaryEntry.Id" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label" asp-for="DiaryEntry.Name"></label>
                <div class="col-sm-10">
                <input class="form-control" asp-for="DiaryEntry.Name" value="@Model.DiaryEntry.Name" />
                <span asp-validation-for="DiaryEntry.Name" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label" asp-for="DiaryEntry.Category"></label>
                <div class="col-sm-10">
                <input class="form-control" asp-for="DiaryEntry.Category" value="@Model.DiaryEntry.Category" />
                    <span asp-validation-for="DiaryEntry.Category" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label" asp-for="DiaryEntry.Purchase"></label>
                <div class="col-sm-10">
                <input class="form-control" asp-for="DiaryEntry.Purchase" value="@Model.DiaryEntry.Purchase" />
                    <span asp-validation-for="DiaryEntry.Purchase" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label" asp-for="DiaryEntry.Expiry"></label>
                <div class="col-sm-10">
                <input class="form-control" asp-for="DiaryEntry.Expiry" value="@Model.DiaryEntry.Expiry" />
                    <span asp-validation-for="DiaryEntry.Expiry" class="text-danger"></span>
                </div>
            </div>
        <div class="modal-footer">
            <input type="submit" value="Save Changes" class="btn btn-primary" />
            <a class="btn btn-secondary ms-2" href="/Aaron/Grocery%20Tracker/Index">Return to Tracker</a>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}