
@page
@model Spoonful.Pages.user.CurrentMealKitPlanModel
@{
}
@using Microsoft.AspNetCore.Identity
@using Spoonful.Models
@using Spoonful.Settings

@inject GoogleAddressAutoCorrectConfiguration GoogleAddressAutoCorrect

@inject UserManager<CustomerUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
}
<section class="content-main">
    
    <div class="content-header">
        <h2 class="content-title">Profile setting</h2>
        <br />
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row gx-5">
                <aside class="col-lg-3 border-end">
                    <nav class="nav nav-pills flex-lg-column mb-4">
                        <a class="nav-link" href="/Account">General</a>
                        <a class="nav-link active" aria-current="page"  href="#">Plan Settings</a>
                        <a class="nav-link" href="/user/PastInvoices">Past Invoices</a>
                        <a class="nav-link" href="#">SEO settings</a>
                        <a class="nav-link" href="#">Mail settings</a>
                        <a class="nav-link" href="#">Newsletter</a>
                    </nav>
                </aside>
                <div class="col-lg-9">
                    
                    <section class="content-body p-xl-4">
                        <h1 class="tw-text-lg tw-mb-5">Plan Settings</h1>
                            @{
                            if (Model.MyMealKit != null)
                            {
                                            <form method="post">
                                            <div class="row">

                                                <div class="col-lg-8">
                                                    <div class="row gx-3">
                                                        <div class="form-group">
                                                            <label>Menu Preferences</label>
                                                            <select class="form-control" asp-for="MyMealKit.MenuPreference">
                                                                <option value="Meat & Veggie">Meat & Veggies</option>
                                                                <option value="Vegetarian">Vegetarian</option>
                                                                <option value="Quick & Easy">Quick and Easy</option>
                                                                <option value="Family Friendly">Family Friendly</option>
                                                                <option value="Pescatarian">Pescatarian</option>
                                                                <option value="Fit & Wholesome">Fit & Wholesome</option>
                                                            </select>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label>Number of Recipes Per Week</label>
                                                                    <select class="form-control" asp-for="MyMealKit.noOfRecipesPerWeek" >
                                                                        <option value="1">1</option>
                                                                        <option value="2">2</option>
                                                                        <option value="3">3</option>
                                                                        <option value="4">4</option>
                                                                        <option value="5">5</option>
                                                                        <option value="6">6</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label>Number of People Per Week</label>
                                                                    <select class="form-control" asp-for="MyMealKit.noOfPeoplePerWeek">
                                                                        <option value="1">1</option>
                                                                        <option value="2">2</option>
                                                                        <option value="3">3</option>
                                                                        <option value="4">4</option>
                                                                        <option value="5">5</option>
                                                                        <option value="6">6</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label>Number of Servings Per Person</label>
                                                                    
                                                                    <select class="form-control" asp-for="MyMealKit.noOfServingsPerPerson">

                                                                        <option value="1">1</option>
                                                                        <option value="2">2</option>
                                                                        <option value="3">3</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <!-- col.// -->
                                                
                                            </div>
                                            <!-- row.// -->
                                            <br />
                                            <button class="btn btn-success" type="submit">Save changes</button>
                                            <p class="h5 fa-pull-right">Price: $@Model.MyInvoice.Cost/Delivery<span style="color:red">(FREE)</span> </p>
                                            </form>
                                            <br />
                                            <hr />
                                            <br />
                                            <h1 class="tw-text-lg tw-mb-5">Order Details</h1>
                                            <form method="post">
                                            <div class="row">
                                                <input class="form-control" asp-for="@Model.MyOrderDetails.userId" value="@user.Id" hidden>
                                                <div class="col-lg-8">
                                                    <div class="row gx-3">
                                                        <div class="form-group">
                                                            <label>Delivery Address</label>
                                                            <input class="form-control" id="address" asp-for="@Model.MyOrderDetails.Address" value="@Model.MyOrderDetails.Address" >
                                                        </div>
                                                        
                                                    </div>
                                                </div>

                                                    <div class="col-lg-8">
                                                        <div class="row gx-3">
                                                            <div class="form-group">
                                                                <label>Weekly Delivery Date</label>
                                                                <input type="date" asp-for="MyOrderDetails.OrderDate" class="form-control">
                                                                <!--
                                                                <select class="form-control" asp-for="MyOrderDetails.OrderDate" value="@Model.MyOrderDetails.OrderDate">
                                                                <option value="Monday">Monday</option>
                                                                <option value="Tuesday">Tuesday</option>
                                                                <option value="Wednesday">Wednesday</option>
                                                                <option value="Thursday">Thursday</option>
                                                                <option value="Friday">Friday</option>
                                                                <option value="Saturday">Saturday</option>
                                                                <option value="Sunday">Sunday</option>
                                                                </select>
                                                                -->
                                                                
                                                            </div>

                                                        </div>
                                                    </div>

                                                    <div class="col-lg-8">
                                                        <div class="row gx-3">
                                                            <div class="form-group">
                                                                <label>Weekly Delivery Time</label>
                                                                <input class="form-control" placeholder="Select Time of your recurring Orders" min="05:00" max="22:00" type="time" asp-for="@Model.MyOrderDetails.OrderTime" value="@Model.MyOrderDetails.OrderTime" required>
                                                            </div>

                                                        </div>
                                                    </div>

                                                    <div class="col-lg-8">
                                                        <div class="row gx-3">
                                                            <div class="form-group">
                                                                <label>Additional Instructions</label>
                                                                <input class="form-control" placeholder= "Any additional instructions" type="text" asp-for="@Model.MyOrderDetails.AdditionalInstructions" value="@Model.MyOrderDetails.AdditionalInstructions" required>
                                                            </div>

                                                        </div>
                                                    </div>
                                                
                                                <!-- col.// -->
                                                
                                            </div>
                                            <!-- row.// -->
                                            <br />
                                                <button class="btn btn-success" type="submit" asp-page-handler="saveorderdetails">Save changes</button>
                                            </form>

                            
                                        <hr class="my-5" />
                                        <h1 class="tw-text-lg tw-mb-5">Status</h1>
                            
                                if(Model.MyMealKit.Status){
                                                    <span class="d-block" style="color:green">Your Plan is currently active</span>
                                                    <p class="text-muted d-block">You can pause your plan to stop receiving boxes for the following weeks. </p>
                                                    <p class="text-muted d-block">You will not be charged the following week if you pause your plan.</p>
                                                    <br />
                                } else{
                                                <span class="d-block" style="color:green">Your Plan is currently paused</span>
                                                <p class="text-muted d-block">You can unpause your plan to start receiving boxes for the following weeks.</p>
                                                <p class="text-muted d-block">You will be charged the following week of your scheduled delivery date after unpausing</p>
                                                <br />
                                }
                            
                                
                                
                                            <div class="row" style="max-width: 920px">
                                                <div class="col-md">

                                                    <form method="post">
                                                        <article class="box mb-3 bg-light">

                                                            
                                                            @if(Model.MyMealKit.Status == true){
                                                                <button type="submit" asp-page-handler="pause" class="btn float-end btn-light btn-sm rounded font-md" style="background-color:grey; color:white">Pause</button>
                                                            }else{
                                                    <button type="submit" asp-page-handler="pause" class="btn float-end btn-light btn-sm rounded font-md" style="background-color:blueviolet; color:white">Unpause</button>
                                                            }
                                                            <h6>Pause Plan</h6>
                                                            <small class="text-muted d-block" style="width: 70%">You can pause your plan by clicking here</small>
                                                        </article>
                                                    </form>
                                                </div>
                                                <!-- col.// -->
                                                <div class="col-md">
                                                    <form method="post">
                                                        <article class="box mb-3 bg-light">
                                                <button type="submit" asp-page-handler="cancel" class="btn float-end btn-light rounded btn-sm font-md" style="background-color:indianred; color:white">Cancel</button>
                                                            <h6>Cancel Plan</h6>
                                                            <small class="text-muted d-block" style="width: 70%">Once you cancel your plan, there is no going back.</small>
                                                        </article>
                                                    </form>
                                                </div>
                                                <!-- col.// -->
                                            </div>
                                            <!-- row.// -->
                                            }else{
                                                    <div class="row" style="max-width: 520px">
                                                        <div class="col-md">
                                                            <article class="box mb-3 bg-light">
                                                                <a class="btn float-end btn-light btn-sm rounded font-md" href="/user/MealKitSubscription/Order">Start Meal Plan</a>
                                                                <h6>Choose Your Plan</h6>
                                                                <small class="text-muted d-block" style="width: 70%">You don't currently have a plan. Start one today by clicking here</small>
                                                            </article>
                                                        </div>
                                                        
                                                        <!-- col.// -->
                                                    </div>
                                            }
                                        }
                            </section>
                            <!-- content-body .// -->
                        </div>
                        <!-- col.// -->
                    </div>
                    <!-- row.// -->
                </div>
                <!-- card body end// -->
            </div>
            <!-- card end// -->

    
        </section>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=@GoogleAddressAutoCorrect.API&libraries=places&callback=initMap"></script>

<script src="/js/AddressAutoComplete.js"></script>