@page
@model Spoonful.Pages.Aaron.Shopping_List.EditModel
@{
}

<h1 class="display-4">@ViewData["Title"]</h1>
<div>
    <form id="addForm" method="post">

        <div>
            <input readonly hidden class="form-control" asp-for="Shopping.Id" value="@Model.Shopping.Id" />
        </div>

        <div class="row mb-3">
                <div class="col-sm-10">
                    <input class="form-control" asp-for="Shopping.userId" value="@Model.Shopping.userId" readonly hidden />
                </div>
            </div>

        <div class="modal-body">
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label" asp-for="Shopping.Name"></label>
                <div class="col-sm-10">
                    <input class="form-control" asp-for="Shopping.Name" value="@Model.Shopping.Name"/>
                    <span asp-validation-for="Shopping.Name" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label" asp-for="Shopping.Category"></label>
                <div class="col-sm-10">
                    <input class="form-control" asp-for="Shopping.Category" value="@Model.Shopping.Category" />
                    <span asp-validation-for="Shopping.Category" class="text-danger"></span>
                </div>
            </div>

        </div>

        <div class="modal-footer">
            <input type="submit" value="Add" class="btn btn-primary" />
            <a class="btn btn-secondary ms-2" href="/User/Shopping%20List/Index?id=@Model.userIdvar">Return to Shopping List</a>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}