@page
@model Spoonful.Pages.Aaron.Shopping_List.ShoppingListModel
@{
    ViewData["Title"] = "Shopping List";
}

<style>
    table, th, td {
        border: 1px solid black;
    }
</style>

<h1>@ViewData["Title"]</h1>

<div class="row">

    <!-- Buttons -->
    <div>

        <a class="btn btn-primary" href="/User/Shopping%20List/Add?id=@Model.userIdvar">Add to Shopping List</a>

        <div style=" display: inline-block;">
            <a id="shoppingList" class="btn btn-secondary" type="button" href="/User/Grocery%20Tracker/Index?id=@Model.userIdvar">Return to Grocery Diary</a>
        </div>

        <div style=" display: inline-block;">
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModalTwo">
                Delete All
            </button>
            
                
        </div>

        @*<div class="row mb-3">
            <form id="sortFilterDropdown" method="post">
                <label for="sortFilter">Sort By:</label>
                <select name="sortFilter" id="filters" asp-for="sortFilter" onchange="sortFilterDropdown.submit()">
                    <option value="name">Name</option>
                    <option value="category">Category</option>
                    <option value="purchase">Purchase</option>
                    <option value="expiry">Expiry</option>
                </select>
                <input type="submit" value="Sort" class="btn btn-secondary" />
            </form>
        </div>*@
    </div>


    <div class="row mb-3">
        <br /> <br />
        
            <!-- Table -->
            <table>
                <!-- Table Headers -->
                <tr>
                    <th>@Html.DisplayNameFor(model => model.ShoppingList[0].Name)</th>
                    <th>@Html.DisplayNameFor(model => model.ShoppingList[0].Category)</th>
                    <th>@Html.DisplayNameFor(model => model.ShoppingList[0].isBought)</th>
                    <th></th>
                </tr>
                <!-- Table Items -->
                @{
                    @foreach (var entry in Model.ShoppingList)
                    {
                        <tr>
                            <td>@entry.Name</td>
                            <td>@entry.Category</td>
                            <form id="isBoughtCheck" method="post" class="row mb-3">
                                <td>
                                <p>@entry.isBought</p>
                            
                                        <input hidden asp-for="ListId" value="@entry.Id"/>
                                        <input hidden asp-for="entryUserId" value="@entry.userId" />
                                        @if(entry.isBought == true)
                                        {
                                            <input type="checkbox" id="isBoughtCheckBox" name="bought" value="boughtBool" asp-for="boughtCheckBox" checked onchange="isBoughtCheck.submit()" />
                                        } else
                                        {
                                            <input type="checkbox" id="isBoughtCheckBox" name="bought" value="boughtBool" asp-for="boughtCheckBox" onchange="isBoughtCheck.submit()" />
                                        }
                            
                        
                                </td>
                            </form>
                            <td>
                                <a class="btn btn-secondary" href="/User/Shopping%20List/Edit?id=@entry.Id">Edit</a>
                                <a class="btn btn-danger" href="/User/Shopping%20List/Delete?id=@entry.Id">Delete</a>

                            </td>
                        </tr>
                    }
                }
            </table>
        
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this entry?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="Delete" type="submit" value="clicked_id" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalTwo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete all entries?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a class="btn btn-danger" href="/User/Shopping%20List/DeleteAll?id=@Model.userIdvar">Delete All</a>
            </div>
        </div>
    </div>
</div>