@page
@model Spoonful.Pages.Aaron.IndexModel
@{
    ViewData["Title"] = "Grocery Tracker";
}

<div style="display:block; width:100%;">

    //Buttons
    <div style="width:30%; float: left; display: inline-block;">
        <div style="width: 15%"; float: left; display: inline-block;">
            <button id="addGrocery" type="button">Add Item</button>
        </div>

        <div style ="width: 15%" ; float: left; display: inline-block;">
            <button id="shoppingList" type="button">Shopping List</button>
        </div>

        <label for="filterType">Sort By:</label>
        <select name="filterType" id="filters">
            <option value="name">Name</option>
            <option value="category">Category</option>
            <option value="purchase">Purchase</option>
            <option value="expiry">Expiry</option>
        </select>
    </div>

    //Table
    <div style="width:70%; float: left; display: inline-block;">
        <table>
            <thead>
            //Table Headers
                <tr>
                    <th>@Html.DisplayNameFor(model => model.DiaryList[0].Id)</th>
                    <th>@Html.DisplayNameFor(model => model.DiaryList[0].Name)</th>
                    <th>@Html.DisplayNameFor(model => model.DiaryList[0].Category)</th>
                    <th>@Html.DisplayNameFor(model => model.DiaryList[0].Purchase)</th>
                    <th>@Html.DisplayNameFor(model => model.DiaryList[0].Expiry)e</th>
                    <th></th>
                </tr>
            </thead>
            //Table Items
            @{
                @foreach (var entry in Model.DiaryList)
                {
                    <tr>
                        <td>@entry.Id</td>
                        <td>@entry.Name</td>
                        <td>@entry.Category</td>
                        <td>@entry.Purchase.ToShortDateString()</td>
                        <td>@entry.Expiry.ToShortDateString()</td>
                        <td>Delete</td>
                    </tr>
                }
            }
        </table>
    </div>
</div>