@page
@model Spoonful.Pages.Admin.MealManagement.IndexModel
@{
}
<div class="container p-3">  
	<div class="row pt-4">
		<div class="col-6">
			<h2 class="text-primary display-4">Menu Item List</h2>
		</div>
	

		<div class="col-6 text-end">
			<a asp-page="/Admin/MealManagement/ViewMeals" class="btn btn-primary">
				<i class="bi bi-menu-up"></i> &nbsp; View Customer Menu
			</a>
			<a asp-page= "/Admin/MealManagement/AddMeals" class="btn btn-primary">
				<i class="bi-plus-square"></i> &nbsp; Create New Menu Item
			</a>
		</div>

	</div>

	<br/>
	<br/>


	<table class="table table-bordered table-striped" style="width:100%">
		<thead>
			<tr>
				<th>Menu ID</th>
				<th>
					Category
				</th>
				<th>
					Name
				</th>
				<th>
					Description
				</th>
				<th>
					Tags
				</th>
			</tr>
		</thead>

		<tbody>
			@foreach(var obj in Model.MenuItems)
			{
			<form method="post">
			<tr>
				
				<td>@obj.Id</td>
				<td>@obj.Category</td>
				<td>@obj.Name</td>
				<td>@obj.Description</td>
				<td>@obj.Tags</td>
				<td width="50%">
					<div class="w-75 btn-group" role="group">
					<a asp-page="/Admin/MealManagement/UpdateMeal" asp-route-id="@obj.Id" class="btn btn-primary mx-2">
						<i class="bi bi-pencil-square"></i>
					</a>
					<input asp-for="MyMenuItem.Id" class="form-control" hidden value="@obj.Id">
					<input asp-for="MyMenuItem.Category" class="form-control" hidden value="@obj.Category">
					<input asp-for="MyMenuItem.Name" class="form-control" hidden value="@obj.Name">
					<input asp-for="MyMenuItem.Description" class="form-control" hidden value="@obj.Description">
					<input asp-for="MyMenuItem.Tags" class="form-control" hidden value="@obj.Tags">

					<button class="btn btn-danger mx-2" type="submit">
						<i class="bi bi-trash-fill"></i>
					</button>
					</div>
				</td>
			</tr>
			</form>
			}
		</tbody>

	</table>
</div>
