@page
@model Spoonful.Pages.Admin.MealManagement.IndexModel
@{
	Layout = "/Pages/Shared/_LayoutAdmin.cshtml";
}
<div class="container">  
	<div class="row pt-4">
		<div class="col-6" style="padding-left:30px;">
			<h2 class="text-primary display-6">Menu Item List</h2>
		</div>
	
		
		<div class="col-6 text-end">
			<!--
			<a asp-page="/Admin/MealManagement/ViewMeals" class="blue-btn-a">
			<i class="bi bi-menu-up"></i> &nbsp; View Customer Menu
			</a>
			-->
			
			<a asp-page= "/Admin/MealManagement/AddMeals" class="blue-btn-a">
				<i class="bi-plus-square"></i> &nbsp; Create New Menu Item
			</a>
		</div>

	</div>

	<br/>
	<br/>

	<table class="table align-middle mb-0 bg-white">
  <thead class="bg-light">
    <tr>
      <th>#</th>
	  <th>Menu Item</th>
      <th>Category / Menu Preference</th>
	  <th>Description</th>
      <th>Edit</th>
	  <th>Delete</th>
    </tr>
  </thead>
  <tbody>
	@foreach(var obj in Model.MenuItems)
		{
		<form method="post">
    <tr>
	  <td>@obj.Id</td>
      <td>
        <div class="d-flex align-items-center">
          <img
              src="@obj.ImageURL"
              alt=""
              style="width: 45px; height: 45px"
              class="rounded-circle"
              />
          <div class="ms-3">
            <p class="fw-bold mb-1">@obj.Name</p>
			<p class="text-muted mb-0"><span class="badge badge-success rounded-pill d-inline">@obj.Tags</span></p>
          </div>
        </div>
      </td>
      <td>
        <p class="fw-normal mb-1">@obj.Category</p>
        <p class="text-muted mb-0">@obj.MenuPreference</p>
      </td>
	  <td>
		  @obj.Description
	  </td>
      
      <td>
			<a asp-page="/Admin/MealManagement/UpdateMeal" asp-route-id="@obj.Id" class="btn btn-primary mx-2">
				<i class="bi bi-pencil-square"></i>
			</a>
			<input asp-for="MyMenuItem.Id" class="form-control" hidden value="@obj.Id">
			<input asp-for="MyMenuItem.Category" class="form-control" hidden value="@obj.Category">
			<input asp-for="MyMenuItem.Name" class="form-control" hidden value="@obj.Name">
			<input asp-for="MyMenuItem.Description" class="form-control" hidden value="@obj.Description">
			<input asp-for="MyMenuItem.Tags" class="form-control" hidden value="@obj.Tags">
	  </td>

		<td>
			<button class="btn btn-danger mx-2" type="submit">
				<i class="bi bi-trash-fill"></i>
			</button>
		</td>
      
    </tr>
    </form>
	}
  </tbody>
</table>


	
</div>
