@page
@model Spoonful.Pages.Admin.MealManagement.ViewMealsModel
@{
	Layout = "/Pages/Shared/_LayoutAdmin.cshtml";
}


<link href="~/css/Menu.css" rel="stylesheet">

<main>
	<a asp-page="Index" class="light-btn-a" style="width:150px; padding-right:20px; padding-left:20px;" ;>Back</a>
	<div class="page_header blog element_to_stick">
		<div class="container">
			<div class="row">
				<div class="col-xl-8 col-lg-7 col-md-7 d-none d-md-block">
					<h1>Menu</h1>
					<br>
				</div>
				<div class="col-xl-4 col-lg-5 col-md-5">
				</div>
			</div>
			<!-- /row -->
		</div>
	</div>
	<!-- /page_header -->

	<div class="container margin_60_20">
		<div class="row">
			
			<div class="col-lg-9">
				<div class="row">
					@foreach (var obj in Model.MenuItems)
					{
					<div class="col-md-6">
						<article class="blog">
							<figure>

								
								<a asp-page="/Admin/MealManagement/MenuItem" asp-route-id="@obj.Id">
									<img id="imgPreview" src="@obj.ImageURL" alt="" style="object-fit:cover">
									<div class="preview"><span>View Full Description</span></div>
								</a>
							</figure>
							<div class="post_info">
								<small>@obj.Category - @obj.MenuPreference - 20 Nov. 2017</small>
								<h2><a href="blog-post.html">@obj.Name</a></h2>
								<p>@obj.Description</p>
								<ul>
									<li><span class="badge rounded-pill bg-primary text-dark">Tags</span></li>
									<li>
										<span class="badge rounded-pill bg-info text-dark">@obj.Tags</span>
									</li>
									<li><i class="icon_comment_alt"></i></li>
								</ul>
							</div>
						</article>
						<!-- /article -->
					</div>
					}
					
				</div>
				<!-- /row -->



			</div>
			
			<!-- /col -->

			<aside class="col-lg-3">
				<div class="widget">
					<div class="widget-title first">
						<h4>Popular Items</h4>
					</div>
					<ul class="comments-list">
						<li>
							<div class="alignleft">
								<a href="#0"><img src="/images/img/blog-6.jpg" alt=""></a>
							</div>
							<small>Category - 11.08.2016</small>
							<h3><a href="#" title="">Verear qualisque ex minimum...</a></h3>
						</li>
						<li>
							<div class="alignleft">
								<a href="#0"><img src="/images/img/blog-6.jpg" alt=""></a>
							</div>
							<small>Category - 11.08.2016</small>
							<h3><a href="#" title="">Verear qualisque ex minimum...</a></h3>
						</li>
						<li>
							<div class="alignleft">
								<a href="#0"><img src="/images/img/blog-4.jpg" alt=""></a>
							</div>
							<small>Category - 11.08.2016</small>
							<h3><a href="#" title="">Verear qualisque ex minimum...</a></h3>
						</li>
					</ul>
				</div>
				<!-- /widget -->
				<div class="widget">
					<div class="widget-title">
						<h4>Categories</h4>
					</div>
					<ul class="cats">
						<li><a href="#">Food <span>(12)</span></a></li>
						<li><a href="#">Places to visit <span>(21)</span></a></li>
						<li><a href="#">New Places <span>(44)</span></a></li>
						<li><a href="#">Suggestions and guides <span>(31)</span></a></li>
					</ul>
				</div>
				<!-- /widget -->
				<div class="widget">
					<div class="widget-title">
						<h4>Popular Tags</h4>
					</div>
					<div class="tags">
						<a href="#">Food</a>
						<a href="#">Bars</a>
						<a href="#">Cooktails</a>
						<a href="#">Shops</a>
						<a href="#">Best Offers</a>
						<a href="#">Transports</a>
						<a href="#">Restaurants</a>
					</div>
				</div>
				<!-- /widget -->
			</aside>
			<!-- /aside -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->

</main>
<!-- /main -->

<script>
	function showImgPreview(input) {
		if (input.files[0]) {
			var uploadimg = new FileReader(); uploadimg.onload = function (displayimg) {
				$("#imgPreview").attr('src', displayimg.target.result);
			}
			uploadimg.readAsDataURL(input.files[0]);
		}
	}
</script>

<!--
<div class="row container pb-3">
	<h2 class="text-success p-lg-1 display-4"> <b>The Weekly Menu</b> </h2>

	<div class="col-12">
		<div class="row my-3">

			<div class="col-lg-4 col-md-6 pb-4 filter" style="border: 2px solid grey; padding:20px;">
				<div class="card-boy pb-1 row">
					<div class="col-8 h5">Name</div>
					<div class="col-4 texxt-end"> <span class="text-info h4">$$100</span> </div>
				</div>

				<img class="card-img-top img-fluid d-block mx-auto mb-3" src="/images/menu/menu-item-1.png" alt="Menu Item Image" />
				<div class="card-body p-1 px-3 row">
					<div class="card-body p-1 px-3 row">
						<div class="col-6">
							<span class="badge p-2 border w-100 text-dark bg-warning"> Category</span>

						</div>
						<div class="col-6 border-0">
							<span class="badge p-2 border w-100 bg-info">Name</span>
						</div>
						<div class="col-12 pt-2" style="font-size:13px; text-align:justify">
							<p>Description</p>
						</div>
						<div class="col-12 p-1">
							<a class="btn btn-dark form-control btn-sm" style="height:40px">View Description</a>
						</div>

					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 pb-4 filter" style="border: 2px solid grey; padding:20px;">
				<div class="card-boy pb-1 row">
					<div class="col-8 h5">Name</div>
					<div class="col-4 texxt-end"> <span class="text-info h4">$$100</span> </div>
				</div>

				<img class="card-img-top img-fluid d-block mx-auto mb-3" src="/images/menu/menu-item-1.png" alt="Menu Item Image" />
				<div class="card-body p-1 px-3 row">
					<div class="card-body p-1 px-3 row">
						<div class="col-6">
							<span class="badge p-2 border w-100 text-dark bg-warning"> Category</span>

						</div>
						<div class="col-6 border-0">
							<span class="badge p-2 border w-100 bg-info">Name</span>
						</div>
						<div class="col-12 pt-2" style="font-size:13px; text-align:justify">
							<p>Description</p>
						</div>
						<div class="col-12 p-1">
							<a class="btn btn-dark form-control btn-sm" style="height:40px">View Description</a>
						</div>

					</div>
				</div>
			</div>


			<div class="col-lg-4 col-md-6 pb-4 filter" style="border: 2px solid grey; padding:20px;">
				<div class="card-boy pb-1 row">
					<div class="col-8 h5">Name</div>
					<div class="col-4 texxt-end"> <span class="text-info h4">$$100</span> </div>
				</div>

				<img class="card-img-top img-fluid d-block mx-auto mb-3" src="/images/menu/menu-item-1.png" alt="Menu Item Image" />
				<div class="card-body p-1 px-3 row">
					<div class="card-body p-1 px-3 row">
						<div class="col-6">
							<span class="badge p-2 border w-100 text-dark bg-warning"> Category</span>

						</div>
						<div class="col-6 border-0">
							<span class="badge p-2 border w-100 bg-info">Name</span>
						</div>
						<div class="col-12 pt-2" style="font-size:13px; text-align:justify">
							<p>Description</p>
						</div>
						<div class="col-12 p-1">
							<a class="btn btn-dark form-control btn-sm" style="height:40px">View Description</a>
						</div>

					</div>
				</div>
			</div>
		</div>


	</div>
</div>
-->