@page
@model Spoonful.Pages.CustomerSupport.IndexModel

@{
    ViewData["Title"] = "Index";
}
<style>
    div.ex1 {
        overflow: hidden;
        width: 470px;
        height: 70px;
    }
    div.ex2{
        overflow: hidden;
        width: 130px;
        height: 70px;
    }
</style>

<h1>Index</h1>

<p>
    <a asp-page="FeedbackPage">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Feedbackform[0].Feedbackstatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Feedbackform[0].TitleFeedback)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Feedbackform[0].MainFeedback)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Feedbackform) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Feedbackstatus)
            </td>
            <td>
                <div class="ex2">
                    @Html.DisplayFor(modelItem => item.TitleFeedback)
                </div>
            </td>
            <td>
                <div class="ex1">
                    @Html.DisplayFor(modelItem => item.MainFeedback)
                </div>
            </td>
            <td>
                @*<a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |*@
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<script>
    window.addEventListener('DOMContentLoaded', event => {

        const customersTable = document.getElementById('customers-table');
        if (customersTable) {
            new simpleDatatables.DataTable(customersTable);
        }

        const adminTable = document.getElementById('admin-table');
        if (adminTable) {
            new simpleDatatables.DataTable(adminTable);
        }


    });
</script>
