@page
@model Spoonful.Pages.CustomerSupport.ApplyTicketingModel
@using Spoonful.Settings
@using Microsoft.AspNetCore.Identity
@using Spoonful.Models
@using Microsoft.Extensions.Options
@inject UserManager<CustomerUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
}
<style>

html, body {
    height: 100%;
    background-color: #152733;
}


.form-holder {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      min-height: 100vh;
}

.form-holder .form-content {
    position: relative;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 60px;
}

.form-content .form-items {
    border: 3px solid #fff;
    padding: 40px;
    display: inline-block;
    width: 100%;
    min-width: 540px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: left;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.form-content h3 {
    color: #fff;
    text-align: left;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 5px;
}

.form-content h3.form-title {
    margin-bottom: 30px;
}

.form-content p {
    color: #fff;
    text-align: left;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 30px;
}


.form-content label, .was-validated .form-check-input:invalid~.form-check-label, .was-validated .form-check-input:valid~.form-check-label{
    color: #fff;
}

.form-content input[type=text], .form-content input[type=password], .form-content input[type=email], .form-content select {
    width: 100%;
    padding: 9px 20px;
    text-align: left;
    border: 0;
    outline: 0;
    border-radius: 6px;
    background-color: #fff;
    font-size: 15px;
    font-weight: 300;
    color: #8D8D8D;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-top: 16px;
}


.btn-primary{
    background-color: #6C757D;
    outline: none;
    border: 0px;
     box-shadow: none;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
    background-color: #495056;
    outline: none !important;
    border: none !important;
     box-shadow: none;
}
.form-content textarea {
    position: static !important;
    width: 100%;
    padding: 8px 20px;
    border-radius: 6px;
    text-align: left;
    background-color: #fff;
    border: 0;
    font-size: 15px;
    font-weight: 300;
    color: #8D8D8D;
    outline: none;
    resize: none;
    height: 120px;
    -webkit-transition: none;
    transition: none;
    margin-bottom: 14px;
}

.form-content textarea:hover, .form-content textarea:focus {
    border: 0;
    background-color: #ebeff8;
    color: #8D8D8D;
}

.mv-up{
    margin-top: -9px !important;
    margin-bottom: 8px !important;
}

.invalid-feedback{
    color: #ff606e;
}

.valid-feedback{
   color: #2acc80;
}
</style>
<div class="form-body">
    <div class="row">
        <div class="form-holder">
            <a asp-page="./FeedbackPage" class="blue-btn">Leave a review</a>
            <div class="form-content">
                <div class="form-items">
                    <h3>Ticketing System</h3>
                    <p>Fill in the data below.</p>
                    <form class="requires-validation" method="post" >

                        <div class="col-md-12">
                            <input class="form-control" asp-for="@Model.Ticketings.username" value="@user.UserName" type="text" placeholder="Username" required>
                            <div class="valid-feedback">Username field is valid!</div>
                            <div class="invalid-feedback">Username field cannot be blank!</div>
                        </div>

                        <div class="col-md-12">
                            <input class="form-control" asp-for="@Model.Ticketings.email" value="@user.Email" type="email" placeholder="E-mail Address" required>
                            <div class="valid-feedback">Email field is valid!</div>
                            <div class="invalid-feedback">Email field cannot be blank!</div>
                        </div>

                        <div class="col-md-12">
                            <select class="form-select mt-3" id="cat" asp-for="@Model.Ticketings.Category" required>
                                <option selected disabled value="">Category</option>
                                <option value="Subscription">Subscription</option>
                                <option value="Products and Services">Products and Services</option>
                                <option value="Miscellaneous">Miscellaneous</option>
                                <option value="Others">Others</option>
                            </select>
                            <div class="valid-feedback">You selected a category!</div>
                            <div class="invalid-feedback">Please select a category!</div>
                        </div>


                        <div class="col-md-12">
                            <input class="form-control" asp-for="@Model.Ticketings.TitleFeedback" type="text" placeholder="Title" required>
                            <div class="valid-feedback">Title field is valid!</div>
                            <div class="invalid-feedback">Title field cannot be blank!</div>
                        </div>
                        <div class="col-md-12">
                            <br>
                            <textarea type="text" cols="30" asp-for="@Model.Ticketings.MainFeedback" rows="7" placeholder="Write your problem here" required maxlength="500"></textarea>
                            <div class="valid-feedback">Question field is valid!</div>
                            <div class="invalid-feedback">Question field cannot be blank!</div>
                        </div>


                        <div class="col-md-12 mt-3">
                            <label class="mb-3 mr-1" id="pref1"  for="pref">Reply Preference: </label>

                            <input type="radio" value="email" asp-for="@Model.Ticketings.notifypreference" class="btn-check" id="1" autocomplete="off" required>
                            <label class="btn btn-sm btn-outline-secondary" for="1">Email</label>

                            <input type="radio" value="Inbox" asp-for="@Model.Ticketings.notifypreference" class="btn-check" id="2" autocomplete="off" required>
                            <label class="btn btn-sm btn-outline-secondary" for="2">Website Inbox</label>

                            <div class="valid-feedback mv-up">You selected a reply preference!</div>
                            <div class="invalid-feedback mv-up">Please select a reply preference!</div>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                            <label class="form-check-label">I confirm that all data are correct</label>
                            <div class="invalid-feedback">Please confirm that the entered data are all correct!</div>
                        </div>


                        <div class="form-button mt-3">
                            <button id="submit" type="submit" class="btn btn-primary">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    (function () {
'use strict'
const forms = document.querySelectorAll('.requires-validation')
Array.from(forms)
  .forEach(function (form) {
    form.addEventListener('submit', function (event) {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }

      form.classList.add('was-validated')
    }, false)
  })
})()

</script>