@page
@model Spoonful.Pages.Admin.FoodCategory.IndexModel
@{
    Layout = "/Pages/Shared/_LayoutAdmin.cshtml";
}

<!-- Example DataTables Card-->
<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i> Menu Category Types
        <a asp-page="/Admin/FoodCategory/AddCategory" class="blue-btn-a" style="margin-left:800px;" >
            <i class="bi bi-plus-square"></i>
            &nbsp;
            Create New Category
        </a>
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Category ID</th>
                        <th>Category</th>
                        <th></th>
                        
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                         <th>Category ID</th>
                        <th>Category</th>
                        <th></th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach(var obj in Model.Categories)
			        {
                        <form method="post">
                    <tr>
                        <td>@obj.Id</td>
                        <td>@obj.name</td>
                        <td>
                            <a asp-page="/Admin/FoodCategory/UpdateCategory" asp-route-id="@obj.Id" class="btn btn-primary mx-2">
							<i class="bi bi-pencil-square"></i>
						</a>
                            <input asp-for="MyCategory.name" class="form-control" hidden value="@obj.name">
                            <input asp-for="MyCategory.Id" class="form-control" hidden value="@obj.Id">
                            <button class="btn btn-danger mx-2" type="submit">
                                <i class="bi bi-trash-fill"></i>
                            </button>
                        </td>
                        
                    </tr>
                        </form>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>
